# SEGURANÇA
.env
*.env
*.key
*.pem
*.txt
!requirements.txt
!CMakeLists.txt

# LOGS
logs/
*.log

# PYTHON
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
.pytest_cache/
.mypy_cache/

# IDE / EDITORES
.vscode/
.idea/
*.swp
*.swo

# DADOS DA APLICAÇÃO
NOVAS_NOTAS/
PROCESSADAS/

# CÓPIAS / BACKUPS
* - Copia.*
*Copia*.py
*Copia*.sql
*Copia*.env

.env
